.footer {
    background-color: #2b2b5e;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px;
    position: relative;
  }
  
  .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
  }
  
  .footer-left h3 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .footer-links {
    display: flex;
    flex-direction: column;
  }
  
  .footer-links a {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .social-media-icons {
    display: flex;
    justify-content: flex-end;
  }
  
  .social-media-icons a {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 20px;
  }
  
  .social-media-icons a:hover {
    color: #800080;
  }
  