@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap'); /* Import the font */

.header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display', serif; /* Apply the font to the entire header */
  }
  
.logo {
    font-size: 24px;
    font-weight: bold;
    color: purple;
  }
  
.nav {
    flex: 1;
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif; /* Apply the font to navigation */
  }
  
.nav a {
    margin: 0 20px;
    text-decoration: none;
    color: purple;
  }
  
.icons {
    display: flex;
    align-items: center;
  }
  
.icon {
    font-size: 24px;
    color: purple;
    margin-left: 20px;
  }
  
  
.nav {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
.nav a {
    margin: 0 20px;
    text-decoration: none;
    color: purple;
  }
  
.icons {
    display: flex;
    align-items: center;
  }
  
.icon {
    font-size: 24px;  /* Adjust size of icons */
    color: purple;
    margin-left: 20px;
  }
  
.icon:hover {
    color: #800080;  /* Slightly darker purple on hover */
  }
  