@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.hero {
    background-image: url('E:\PRJ666_Project\petscrew-website\src\images\dog-working-laptop_849688-3521.avif');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    color: white;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
  }
  
  .shop-btn {
    background-color: #6a0dad;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
  }
  